.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    gap: 18px;
    margin-top: 20px;
    width: 100%;
    max-width: 240px;
    height: 100vh;
    background: linear-gradient(135deg, #232526 0%, #414345 100%);
    box-shadow: 2px 0 12px rgba(0,0,0,0.08);
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 4px 12px;
    border-radius: 8px;
    background-color: #f5f7fa;
    color: #232526;
    gap: 16px;
    cursor: pointer;
    padding: 12px 16px;
    transition:  0.2s, color 0.2s;
    font-weight: 500;
}

.sidebar-item:hover {
    background-color: #4f8cff;
    color: #fff;
}

